name: Pipeline

on: push

jobs:

  publish_mapper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          cp README.md ./mapper/README.md
          cp banner.svg ./mapper/banner.svg
          cp -f LICENSE ./mapper/LICENSE
      - name: '>> mapper <<'
        id: publish
        uses: k-paxian/dart-package-publisher@master
        with:
          accessToken: ${{ secrets.OAUTH_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.OAUTH_REFRESH_TOKEN }}
          relativePath: mapper
      - name: 'Tag commit'
        if: steps.publish.outputs.success
        uses: hole19/git-tag-action@master
        env:
          TAG: ${{steps.publish.outputs.package}}-${{steps.publish.outputs.localVersion}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_adapters:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        adapter: ["fixnum", "mobx"]

    steps:
      - uses: actions/checkout@v2
      - run: cp -f LICENSE ./adapters/${{ matrix.adapter }}/LICENSE
      - name: '>> adapter / ${{ matrix.adapter }} <<'
        id: publish
        uses: k-paxian/dart-package-publisher@master
        with:
          accessToken: ${{ secrets.OAUTH_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.OAUTH_REFRESH_TOKEN }}
          relativePath: adapters/${{ matrix.adapter }}
      - name: 'Tag commit'
        if: steps.publish.outputs.success
        uses: hole19/git-tag-action@master
        env:
          TAG: ${{steps.publish.outputs.package}}-${{steps.publish.outputs.localVersion}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
